<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>HOME</servlet-name>
		<servlet-class>First</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HOME</servlet-name>
		<url-pattern>/home1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HOME1</servlet-name>
		<servlet-class>Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HOME1</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Service</servlet-name>
		<servlet-class>Service1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Service</servlet-name>
		<url-pattern>/service1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Service2</servlet-name>
		<servlet-class>Service2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Service2</servlet-name>
		<url-pattern>/service2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register2</servlet-name>
		<servlet-class>Register2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register2</servlet-name>
		<url-pattern>/register2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Contact</servlet-name>
		<servlet-class>Contacts</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contact</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
</web-app>